
body {
  margin:0;
  padding:0;
  overflow-x:hidden;
  background-image:url('20593.jpg');
  background-color:#EEEED2;
  background-attachment: fixed;
}

.firsthead {
    height:27px;
    width:100%;
    background-color:#E3EAF2;
	font-family: 'Baloo Tamma 2', cursive;
}

.defaultnav{
    float:left;
    display:block;
    color:#00397B;
    text-decoration:none;
    text-align:center;
    font-size:20px;
}

.nav1{
  padding-left:290px;
}

/*
.defaultnav:hover {
    background-color:#F9FBFC;
}*/

.secondhead {
    background-image: url("2798384.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:100%;
    height:50%;
}

.secondhead h1 {
    color:#DDE5E9;
	font-family: 'Roboto Slab', serif;
    float:left;
	padding-left:10px;

}

.search {
    padding-left:20px;
}

.search:hover {
    opacity:0.1;
}

.logo
{
    float:right;
    height:30%;
	padding-right:5px;
	background-color:white;
	border-radius:20px;
}

.logob{
	opacity:0.8;
	padding-right:10px;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 16px;
    background-color:#DDE5E9;
    background-image: url('searchicon.png');
    background-size:40px;
    opacity:0.5;
    background-position: -1px 0px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 25%;
}

.thirdhead {
    height:90px;
    width:100%;
}

.navbar {
    float:left;
    display:block;
    color:#E0EEF5;
    text-decoration:none;
    text-align:center;
    font-size:25px;
    padding:0px 75px;
	padding-top:30px;
	font-family: 'Roboto Slab', serif;
}

.navbar:hover {
    opacity:0.5;
}

.Slideshow-container {
    max-width: 3000px;
    position: relative;
    margin: auto;
    border-radius: 15px;
}

.imageSlideshow {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #6592AE;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

.slide {
    height :500px;
    width:400px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

.intro {
    background-image:url('2798384.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius:5px;
}

.intro h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color:#DDE5E9;
}

.intro p {
    color:#D5D5D3;
    font-size: 20;
	font-family: 'Roboto Condensed', sans-serif;
}

.calendar {
  float:right;
  border-radius:15px;
  opacity:0.6;
  padding-right:30px;
}


.animated {
    background-image: url(/css/images/logo.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

 @keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.footer {
    background-image: url("2798384.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:100%;
    height:40%;
}

.footernav {
    float:left;
    display:block;
    color:white;
    text-decoration:none;
    text-align:center;
    font-size:17px;
    font-family: 'Baloo Tamma 2', cursive;
}

.footernav span:hover{
	color:#02CBEF;
}

.copyright {
    float:left;
    color:white;
    font-family:Gill Sans, sans-serif;
    padding-left:40px;
}

.footlogo{
    float:right;
    padding-right:70px;
}

.footl{
	display:none;
}

.addetails h2{
  font-family: 'Roboto Condensed', sans-serif;
  color:#4C4E4F;
}

.addetails p {
  color:#747678;
  font-weight:100;
  font-size: 24;
}

.link {
  color:#147FB9;
  text-decoration: none;
  border-radius:20px;
  padding:15px 15px;
}

.link:hover {
  background-color:#D8D8DD;
}

.maps{
  float:right;
  padding-right:30px;
}
.flogo {
	border-radius:20px;
	opacity:0.9;
}

.flogo:hover {
  opacity:0.5;
}

.insta {
  opacity:0.7;
}

.youtube {
  opacity:0.7;
}

.navigation {
  padding-left:30px;
}

span{
  padding: 10px 10px;
}

span:hover{
  opacity:0.5;
}

.right {
	padding-left:45px;
}

.whyieee h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color:#4C4E4F;
  padding-left:400px;
}

.whyieee p{
	font-family: 'Roboto Condensed', sans-serif;
	color:#4C4E4F;
	padding-left:40px;
	font-size:20;
}
.ieeedes p{
	text-align:left;
} 

.memberships {
	float:right;
	font-family: 'Roboto Condensed', sans-serif;
	color:#4C4E4F;
	border:dotted #C4A469 2px;
	border-radius:20px;
}

.membershipssmall{
	display:none;
}

.Join {
	text-align:center;	
	background-color:#FFDC00;
	width:150px;
	height:30px;
	padding-top:7px;
	border: solid #FFDC00] 2px;
	border-radius:30px;
	display:block;
	box-shadow:0 6px #C9AE02;
	cursor:pointer;
	
}
.Join:hover{
	background-color:#FEE339;
	box-shadow:0 6px #C3AE2A; 
}

.Join:active {
box-shadow:none;
position:relative;
top:6px;
}

.memberships a{
	text-decoration:none;
	color:black;
	font-weight:bold;
}

.counter {
	font-size:55px;
	font-family: 'Roboto Condensed', sans-serif;
}

.year {
	font-weight:bolder;
	font-size:30px;
	font-family: 'Roboto Condensed', sans-serif;
}

.but{
	padding-left:160px;
}

.bemember{
	padding-left:20px;
}

.stathead {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:45px;
}

.para {
	float:right;
	padding-right:500px;
	padding-top:80px;
    font-family: 'Roboto Condensed', sans-serif;
	font-size:19;
}

.parasmall{
	display:none;
}

.ieeeintro {
		padding-left:200px;
		padding-top:50px;
}

.ieeeintro hr{
	background-color:#147FB9;	
}

.ieeeintrosmall{
	display:none;
}

.para1{
	float:right;
	padding-right:350px;
	padding-bottom:30px;
}

.para1small{
	display:none;
}

.line1{
	padding-left:38px;
}

.line1small{
	display:none;
}

.line1 hr{
	background-color:#147FB9;
}

.para2 {
	float:right;
	padding-right:40px;
}

.para2small{
	display:none;
}

.line2 {
	padding-left:470px;
}

.line2 hr {
	background-color:#147FB9;
}

.line2small{
	display:none;
}

.para3{
	float:right;
	padding-right:460px;
	padding-top:29px;
}

.line3
{
	padding-left:30px;
}

.line3 hr{
	background-color:#147FB9;
}

.para3small{
	display:none;
}

.line3small{
	display:none;
}

.para4{
	float:right;
	padding-right:30px;
}

.line4{
	padding-left:440px;
}

.line4 hr{
	background-color:#147FB9;
}

.para4small{
	display:none;
}

.line4small{
	display:none;
}

.para5{
	float:right;
	padding-right:450px;

}

.line5 {
	padding-left:20px;
}

.line5 hr{
	background-color:#147FB9;
}

.para5small{
	display:none;
}

.line5small{
	display:none;
}

.container {
	position:relative;
}

.container .btn {
  position: absolute;
  top: 87%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #EFD220;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}

.btn a{
	text-decoration:none;
	color:white;
  font-size: 16px;
}

.quote {
	background-image:url('2798384.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	font-family: 'Roboto Condensed', sans-serif;
	color:#D5D5D3;
	font-size:44;
	text-align:center;
	border-radius:5px;
	height:200px;
	padding-top:5px;
	padding-bottom:35px;
}

.para6 {
	font-family:'Roboto Condensed', sans-serif;
	float:right;
	padding-right:200px;
	font-size:18px;
}

.line6{
	padding-left:80px;
}

.line6 hr{
	background-color:#147FB9;

}

.para6small{
	display:none;
}

.line6small{
	display:none;
}

.charusat{
	background-image:url('2798384.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	height:48%;
	border-radius:5px;
}

.charusat p{
	font-family:'Roboto Condensed', sans-serif;
	color:#D5D5D3;
	font-size:44px;
	padding-top:70px;
}

.right p{
	font-family:'Roboto Condensed', sans-serif;
}


@media only screen and (max-width:680px){
		html{
			overflow-x:hidden;
		}
		body{
			width:100%;
		}
		.firsthead{
			display:none;
		}
		.secondhead{
			height:145%;
		}
		.secondhead h1{
			font-size:35;
			padding:10px 20px;
		}
		.secondhead img{
			height:17%;
			width:65%;
			border-radius:9px;
		}
		
		.secondieee{
			padding-right:70px;
		}
		
		.navsmall{
			padding-right:55px;
		}
		
		.logob{
			padding-bottom:30px;
		}
		.search{
			display:none;
		}
		
	input[type=text] {
	width: 100px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 8px;
    background-color:#DDE5E9;
    background-image: url('searchicon.png');
    background-size:40px;
    opacity:0.5;
    background-position: -1px 0px; 
    background-repeat: no-repeat;
    padding: 12px 20px 18px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}

.navbar{
	width:100%;
	padding:30px;
	text-align:center;
}

.para{
	display:none;
}

.ieeeintro{
	padding-left:50px;
	padding-bottom:50px;
	float:left;
}
.parasmall{
	display:block;
	color:black;
    font-family: 'Roboto Condensed', sans-serif;
	font-size:20;
}

.parasmall p{
	padding-left:60px;
	padding-top:30px;
}

.ieeeintro{
	display:none;
}

.ieeeintrosmall{
	display:block;
	float:left;
	padding-left:30px;
	padding-top:15px;
}
.ieeeintrosmall hr{
	background-color:#147FB9;	
}
.aboutus{
	padding-top:30px;
}

.intro h1{
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px;
}

.intro p{
	padding-left:5px;
	padding-right:5px;
}

.calendar{
	display:none;
}

.whyj h1{
	float:right;
	padding-right:150px;
	font-size:50px;
}

.para1{
	display:none;
}

.line1{
	display:none;
}

.small{
	width:100%;
}

.line1small{
	display:block;
	float:left;
	padding-left:30px;
	padding-bottom:30px;
}
.line1small hr{
	background-color:#147FB9;
}

.para1small{
	display:block;
	font-size:30px;
	padding-left:20px;
	padding-right:40px;
}

.line2{
	display:none;
}

.para2{
	display:none;
}

.line2small{
	display:block;
	float:right;
	padding-top:30px;
	padding-right:30px;
}

.line2small hr{
	background-color:#147FB9;
}

.para2small{
	display:block;
	font-size:30px;
	padding-top:35px;
	padding-right:20px;
}

.ieeelogo img{
	height:50%;
	width:55%;
}

.ieeelogo{
	padding-left:40px;
}


.para3{
	display:none;
}

.line3{
	display:none;
}

.para3small{
	display:block;
	font-size:30px;
	padding-top:10px;
	padding-left:20px;
}

.line3small{
	display:block;
	float:left;
	padding-left:30px;
}

.line3small hr{
	background-color:#147FB9;
}

.para4{
	display:none;
}

.line4{
	display:none;
}

.para4small{
	display:block;
	float:left;
	font-size:30px;
	padding-top:50px;
}

.line4small{
	display:block;
	padding-top:50px;
}

.line4small hr{
	background-color:#147FB9;
}

.para5{
	display:none;
}

.line5{
	display:none;
}

.para5small{
	display:block;
	padding-left:20px;
	padding-top:55px;
}

.line5small{
	display:block;
	float:left;
	padding-left:30px;
	padding-top:50px;
}

.line5small hr{
	background-color:#147FB9;
}

.alignmem{
	float:left;
	padding-right:10px;
	padding-top:50px;
	padding-left:20px;
}

.memberships{
	display:none;
}

.membershipssmall h2{
	text-align:center;
}

.membershipssmall h3{
	text-align:center;
	padding-right:30px;
}

.membershipssmall p{
	text-align:center;
}

.membershipssmall .but{
	padding-right:65px;
}

.membershipssmall {
	display:block;
	float:right;
	font-family: 'Roboto Condensed', sans-serif;
	color:#4C4E4F;
	border:dotted #C4A469 2px;
	border-radius:20px;
}

.Joinsmall {
	text-align:center;	
	background-color:#FFDC00;
	width:150px;
	height:30px;
	padding-top:7px;
	border: solid #FFDC00] 2px;
	border-radius:30px;
	display:block;
	box-shadow:0 6px #C9AE02;
	cursor:pointer;
	
}
.Joinsmall:hover{
	background-color:#FEE339;
	box-shadow:0 6px #C3AE2A; 
}

.Joinsmall:active {
box-shadow:none;
position:relative;
top:6px;
}

.membershipssmall a{
	text-decoration:none;
	color:black;
	font-weight:bold;
}

.quote {
	background-image:url('2798384.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	font-family: 'Roboto Condensed', sans-serif;
	color:#D5D5D3;
	font-size:34;
	text-align:center;
	border-radius:5px;
	height:250px;
	padding-top:5px;
	padding-bottom:35px;
}

.para6{
	display:none;
}

.line6{
	display:none;
}

.para6small{
	display:block;
	font-family:'Roboto Condensed', sans-serif;
	font-size:18px;
	padding-left:50px;
}

.line6small{
	display:block;
	float:left;
	padding-left:30px;
}

.line6small hr{
	background-color:#147FB9;
}

.charusat{
	height:60%;
	border-radius:5px;
}

.charusat p{
	font-family:'Roboto Condensed', sans-serif;
	color:#D5D5D3;
	font-size:34px;
	padding-top:80px;
}

.footer{
	height:60%;
}

.footlogo{
	display:none;
}

.footl{
	display:block;
	padding-left:100px;
	padding-top:350px;
}

.copyright{
	padding-right:20px;
}
	
.maps{
	float:left;	
}
	
.stathead h1{
	font-size:40px;
	}

}
